<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #pro {
            padding: 5px;
            margin-left: 25px;
            margin-right: 25px;
            background-color: aqua;
            color: black;
            text-transform: uppercase;
            border: dashed black;
            border-radius: 10px;
            font-size: 30px;

        }
        .ed{
            text-align: right;
            }
                
    </style>
</head>

<body>
    <!-- <h1 style="text-align:center">Welcome To Your {{name.0}}</h1> -->
    <div id="pro">
        <h1 style="text-align: center; background-color: burlywood; border-radius: 10px;"> <b> Profie </b></h1>
        <b>
            NAME = {{name.0}} <br>
            gmail = {{gmail.1}} <br>
            password = {{password.2}}<br>
        </b>

        <a class="ed" href="/edit"><b><h3>Edit</h3></b></a>
        

    </div>

</body>

</html>